@import "../../../less/common.less";

.left_tree {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  z-index: 1000;
  transition: all 0.2s linear;
}

.tree_wrap {
  position: absolute;
  bottom: 0;
  top: 0;
  background: @tree-wrap-bg-color;
  border-top: 0;
  width: 100%;
  z-index: 99;
}

.brick {
  text-align: center;
  padding: 0;
  .logo {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
    transform-origin: center;
    animation: rotate360 infinite 6s;
  }
}

@keyframes rotate360 {
  100% {
    transform: rotateZ(360deg);
  }
}

.mixin_brick() {
  padding-top: 12px;
  height: 63px;
  .brick_text {
    opacity: 1;
  }
}

.nav_next_w {
  position: relative;
  top: 0;
  left: 0;
  &:hover {
    .menu_lev2 {
      transform: scale3d(1, 1, 1);
    }
    .brick_wrap {
      .mixin_brick;
    }
  }
}

.brick_wrap {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  margin: 0 auto;
  height: 53px;
  padding-top: 20px;
  text-align: center;
  background: @tree-wrap-bg-color;
  -webkit-transition: padding-top, height 200ms, 200ms;
  -o-transition: padding-top, height 200ms, 200ms;
  transition: padding-top, height 200ms, 200ms;
  &.active {
    .mixin_brick;
  }
}

.brick_icon {
  svg {
    font-size: 26px;
    color: #fff;
  }
}

.brick_text {
  opacity: 0;
  font-size: 12px;
  color: #fff;
  margin-top: -2px;
  filter: alpha(opacity=0);
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.menu_lev2 {
  position: absolute;
  right: -180px;
  top: 12px;
  bottom: 0;
  background-color: @menu-lev2-bg-color;
  width: 180px;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: hidden;
  transform-origin: left top;
  transition: all 300ms ease;
  transform: scale3d(0, 0, 0);
  .next {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 24px;
    padding-left: 0;
    li {
      margin-top: 5px;
      padding: 0 5px;
      box-sizing: border-box;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 6px 5px 6px 20px;
        text-align: left;
        border-radius: 4px;
        &:hover,
        &.active {
          background-color: #4280e7;
        }
      }
    }
    &.next_show {
      display: block;
    }
  }
}

.tree_bottom {
  position: absolute;
  bottom: 30px;
  left: 14px;
  cursor: pointer;
  .personal_setting_menu {
    width: 115px;
    position: absolute;
    z-index: 200;
    left: 0;
    top: -10px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #c8cbcc;
    z-index: 799;
    background-color: #fff;
    left: 46px;
    transform: scale3d(0,0,0);
    transition: all 300ms ease;
    transform-origin: left bottom;
    &.show {
      transform: scale3d(1,1,1);
    }
    .menu_triangle {
      height: 0;
      width: 0;
      border-width: 10px;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      border-style: solid;
      left: -20px;
      bottom: 15px;
    }
    .menu_items {
      position: relative;
      z-index: 1;
      padding: 5px 0;
      background-color: #fff;
      li {
        a {
          padding-left: 20px;
          background-color: transparent;
          color: #666;
          margin: 0;
          font-size: 12px;
          line-height: 37px;
          &:hover {
            color: #4f90f7;
            i {
              color: #4f90f7;
            }
          }
          i {
            font-size: 16px;
            color: #ccc;
            margin-right: 4px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
